@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

header  {
    background-color: #f0f0f0;
}

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    color: black;

}



#name {
    float: left;
    font-size: 300%;
    
}

nav {
    float: right;
    
}

nav li {
    display: inline-block;
    
    margin-right: 20px;
}

nav a {
    text-decoration: none;
}

nav, #name {
    line-height: 75px;
}

nav a:hover{
    border-bottom: 3px dotted #3a3a3a;
}
